.content-wrapper {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.introduction-image {
  border-radius: 100%;
  width: 250px;
  height: 250px;
}

.introduction-text {
  text-align: center;
  width: 80%;
}

h4 {
  font-size: 17px;
}
