<div class="not-found-container">
    <!--<span class="not-found-text">O</span>-->
    <div class="left-side">
        <div class="header">
            <div class="left-text">
                <h5 class="not-found-text">¡Ups!</h5>
                <h5 class="description">Esta página no existe.</h5>
            </div>
            <div class="bottom-container">
                <h5 class="bottom-text">
                    BE KIND TO YOUR PEERS
                </h5>
                <img src="assets/images/not-found.jpg" alt="No encontrado" class="not-found-img">
            </div>
            <a routerLink="/" class="home-link"><mat-icon>keyboard_backspace</mat-icon>Regresar al inicio</a>
        </div>
    </div>
    <div class="right-side" fxHide.xs>
        <img src="assets/images/people.jpg" alt="No encontrado" class="people-img">
    </div>
</div>