.action-container {
    text-align: center;
    margin: 10px;
}

.action-text {
    padding: 2px 20px;
    display: inline-block;
    font-size: 13px;
    background-color: #e0e0e0;
    border-radius: 15px;
    color: #606060;
}