<div
    class="story-container"
    [ngClass]="{'locked-story': locked, 'current-story': currentStory == story.id}">
    <div class="image-container">
        <img [src]="story.icon" [alt]="story.name" class="chat-img" />
    </div>
    <div class="content-container">
        <span class="story-name">{{ story.chatName }}</span>
        <span class="story-description" *ngIf="locked else notLocked">Historia bloqueada</span>
        <ng-template #notLocked>
            <span class="story-description" *ngIf="currentStory == story.id; else startStory">Continuar...</span>
            <ng-template #startStory>
                <span class="story-description" *ngIf="currentStory != story.id">Continuar...</span>
            </ng-template>
        </ng-template>
    </div>
    <div class="lock-container" *ngIf="locked">
        <mat-icon
            #tooltip="matTooltip"
            (click)="tooltip.show()"
            matTooltip="Tienes que terminar la historia que estás siguiendo para poder continuar con otra.">
            lock
        </mat-icon>
    </div>
</div>
