<div
    class="story-container"
    [ngClass]="{'locked-story': locked, 'current-story': currentStory == story.id}">
    <div class="image-container">
        <img [src]="story.icon" [alt]="story.name" class="chat-img" />
    </div>
    <div class="content-container">
        <span class="story-name">{{ story.chatName }}</span>
        <ng-container *ngIf="story.pending; else notPending">
            <span class="story-description" *ngIf="story.pending">Proximamente...</span>
        </ng-container>
        <ng-template #notPending>
            <span class="story-description" *ngIf="locked else notLocked">Historia bloqueada</span>
            <ng-template #notLocked>
                <span class="story-description" *ngIf="currentStory == story.id; else startStory">Continuar...</span>
                <ng-template #startStory>
                    <span class="story-description" *ngIf="!currentStory">Comenzar historia...</span>
                </ng-template>
            </ng-template>
        </ng-template>
    </div>
    <div class="lock-container" *ngIf="locked || story.pending">
        <mat-icon
            #tooltip="matTooltip"
            (click)="tooltip.show()"
            *ngIf="story.pending; else lockedLock"
            matTooltip="La historia estará disponible próximamente.">
            lock_outline
        </mat-icon>
        <ng-template #lockedLock>
            <mat-icon
                #tooltip="matTooltip"
                (click)="tooltip.show()"
                *ngIf="locked"
                matTooltip="Tienes que terminar la historia que estás siguiendo para poder continuar con otra.">
                lock_outline
            </mat-icon>
        </ng-template>
    </div>
</div>
