label.clock {
  text-align: center;
  font-size: 60px;
  width: 100%;
}
main {
  display: grid;
  width: 100%;
  height: 100%;

  section {
    margin: auto;
    p {
      text-align: center;
    }
  }
}
h1{
  color: white;
}
