main,
.click-catcher {
  position: absolute;
  display: grid;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
main{
  background: #2e31a0de;
  transition: all 1s;
  opacity:0;
  pointer-events: none;
  section {
    margin: auto;
    p {
      text-align: center;
    }
    h1{
      color: white;
    }
    label.clock {
      text-align: center;
      font-size: 60px;
      width: 100%;
    }
  }
}
main.active {
  opacity:1;
}
