<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Ingresar</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registrarme</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
          <mat-form-field appearance="fill" class='material-input'>
            <mat-label>Usuario o correo</mat-label>
            <input matInput>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
				</div>
				<div class="group">
          <mat-form-field appearance="fill" class='material-input'>
            <mat-label>Contraseña</mat-label>
            <input matInput type="password">
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
				</div>
				<div class="group">
					<input type="submit" class="button" value="Ingresar">
				</div>
			</div>
			<div class="sign-up-htm">
				<div class="group">
					<mat-form-field appearance="fill" class='material-input'>
            <mat-label>Usuario o correo</mat-label>
            <input matInput>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
				</div>
				<div class="group">
          <mat-form-field appearance="fill" class='material-input'>
            <mat-label>Contraseña</mat-label>
            <input matInput type="password">
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
				</div>
				<div class="group">
          <mat-form-field appearance="fill" class='material-input'>
            <mat-label>Contraseña</mat-label>
            <input matInput type="password">
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
				</div>
				<div class="group">
          <mat-form-field appearance="fill" class='material-input'>
            <mat-label>Correo electrónico</mat-label>
            <input matInput>
            <mat-icon matSuffix>alternate_email</mat-icon>
          </mat-form-field>
				</div>
				<div class="group">
					<input type="submit" class="button" value="Registrar">
				</div>
			</div>
		</div>
	</div>
</div>
