<div class="content-wrapper" fxFlexFill>
  <div class="login-wrap">
    <div class="login-html">
      <div class="logo-container">
        <img src="assets/icons/icon.png" alt="Aequichat" class="logo-img">
        <div class="name-container">
          <span class="logo-name">Aequichat</span>
          <span class="logo-description">BE KIND TO YOUR PEERS</span>
        </div>
      </div>
      <input id="tab-4" type="radio" name="tab" class="sign-in" checked>
      <label for="tab-4" class="tab" *ngIf="isNewpasswordForm">Nueva contraseña</label>
      <input id="tab-3" type="radio" name="tab" class="sign-in" checked><label for="tab-3" class="tab"
        *ngIf="isEmailForm">Recuperar contraseña</label>
      <ng-container *ngIf="!isNewpasswordForm && !isEmailForm">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1"
          class="tab">Ingresar</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registrarme</label>
      </ng-container>
      <div class="login-form">
        <form [formGroup]="newPasswordForm" (ngSubmit)="changePassword()" *ngIf="isNewpasswordForm">
          <div class="group">
            <mat-form-field appearance="fill" class='material-input'>
              <mat-label>Nueva contraseña</mat-label>
              <input matInput type="password" autocomplete="new-password" formControlName="newPassword">
              <mat-icon matSuffix>lock</mat-icon>
              <mat-error>Este campo es requerido</mat-error>
            </mat-form-field>
          </div>

          <div class="group">
            <mat-form-field appearance="fill" class='material-input'>
              <mat-label>Repite tu contraseña</mat-label>
              <input matInput type="password" autocomplete="new-password" formControlName="repeatPassword">
              <mat-icon matSuffix>lock</mat-icon>
              <mat-error>Este campo es requerido</mat-error>
            </mat-form-field>
          </div>

          <div class="group center-div-content">
            <button *ngIf="!isLoading" mat-raised-button color="primary" class="material-button"
              [disabled]="!newPasswordForm.valid">Cambiar contraseña</button>
            <mat-spinner *ngIf="isLoading" [diameter]="40" [color]="'white'"></mat-spinner>
          </div>
        </form>

        <form [formGroup]="emailForm" (ngSubmit)="sendRecoveryEmail()" *ngIf="isEmailForm">
          <div class="group">
            <mat-form-field appearance="fill" class='material-input'>
              <mat-label>Correo electrónico</mat-label>
              <input matInput formControlName="email">
              <mat-icon matSuffix>alternate_email</mat-icon>
              <mat-error>Email con formato (yo@correo.com) requerido</mat-error>
            </mat-form-field>
          </div>

          <div class="group center-div-content">
            <button *ngIf="!isLoading" mat-raised-button color="primary" class="material-button"
              [disabled]="!emailForm.valid">Enviar email</button>
            <mat-spinner *ngIf="isLoading" [diameter]="40" [color]="'white'"></mat-spinner>
          </div>
          <a (click)="isEmailForm = false" class="recover-link">Iniciar sesión</a>
        </form>

        <ng-container *ngIf="!isNewpasswordForm && !isEmailForm">
          <form [formGroup]="userForm" (ngSubmit)="login()">
            <div class="sign-in-htm">
              <div class="group">
                <mat-form-field appearance="fill" class='material-input'>
                  <mat-label>Usuario</mat-label>
                  <input style="display:none" type="text" name="fakeusernameremembered" />
                  <input style="display:none" type="password" name="fakeusernameremembered" />
                  <input matInput formControlName="username" autocomplete="new-password">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-error>Este campo es requerido</mat-error>
                </mat-form-field>
              </div>
              <div class="group">
                <mat-form-field appearance="fill" class='material-input'>
                  <mat-label>Contraseña</mat-label>
                  <input matInput type="password" autocomplete="new-password" formControlName="password">
                  <mat-icon matSuffix>lock</mat-icon>
                  <mat-error>Este campo es requerido</mat-error>
                </mat-form-field>
              </div>
              <div class="group center-div-content">
                <button *ngIf="!isLoading" mat-raised-button color="primary" class="material-button"
                  [disabled]="!userForm.valid">Ingresar</button>
                  <mat-spinner *ngIf="isLoading" [diameter]="40" [color]="'white'"></mat-spinner>
              </div>
              <a (click)="isEmailForm = true" class="recover-link">¿Has olvidado tu contraseña?</a>
            </div>
          </form>

          <div class="sign-up-htm">
            <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
              <div class="group">
                <mat-form-field appearance="fill" class='material-input'>
                  <mat-label>Usuario</mat-label>
                  <input matInput formControlName="newUsername" autocomplete="new-password">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-error>Este campo es requerido</mat-error>
                </mat-form-field>
              </div>
              <div class="group">
                <mat-form-field appearance="fill" class='material-input'>
                  <mat-label>Contraseña</mat-label>
                  <input matInput type="password" formControlName="newPassword" autocomplete="new-password">
                  <mat-icon matSuffix>lock</mat-icon>
                  <mat-error>Este campo es requerido</mat-error>
                </mat-form-field>
              </div>
              <div class="group">
                <mat-form-field appearance="fill" class='material-input'>
                  <mat-label>Repetir contraseña</mat-label>
                  <input matInput type="password" formControlName="repeatPassword" autocomplete="new-password">
                  <mat-icon matSuffix>lock</mat-icon>
                  <mat-error>Este campo es requerido y debe coincidir con la contraseña</mat-error>
                </mat-form-field>
              </div>
              <div class="group">
                <mat-form-field appearance="fill" class='material-input'>
                  <mat-label>Correo electrónico</mat-label>
                  <input matInput formControlName="newEmail">
                  <mat-icon matSuffix>alternate_email</mat-icon>
                  <mat-error>Email con formato (yo@correo.com) requerido</mat-error>
                </mat-form-field>
              </div>
              <div class="group center-div-content">
                <button *ngIf="!isLoading" mat-raised-button color="primary" class="material-button"
                  [disabled]="!signUpForm.valid">Registrarme</button>
                <mat-spinner *ngIf="isLoading" [diameter]="40"></mat-spinner>
              </div>
            </form>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
