<div class="chat-options">
  <ng-container *ngIf="options && options.length; then optionsContent; else buttonContent">
  </ng-container>
</div>

<ng-template #optionsContent>
  <mat-chip-list>
    <mat-chip class="option" color="primary" selected *ngFor="let option of options" (click)="selectOption(option)">
      <div [innerHTML]="option.label"></div>
    </mat-chip>
  </mat-chip-list>
</ng-template>

<ng-template #buttonContent>
  <button mat-raised-button color="primary" class="continue-button" (click)="selectOption()">Continuar</button>
</ng-template>
